tr:nth-child(3n+2) {
    background-color:red;
}

table {
    border-collapse: collapse;
    width:80%;
    margin:0 auto;
}

td {
    border: 1px solid #000;
    text-align:center;
    padding:0.5rem;
}