.container {
    width:100%;
    margin:0 auto;
    height:200px;
    background-color:#eee;  
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        background-color:#ddd;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        background-color:#ccc;	
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        background-color:#bbb;	
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        background-color:#ccc;		
    }
}