#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  background-color: #0078A6;
}
#item2 {
  flex-grow: 1;
  background-color: #0084B6;
}
#item3 {
  background-color: #008CC1;
}