#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  flex: 1 1 20%;
  background-color: #0078A6;
}
#item2 {
  flex: 0 0 60%;  
  background-color: #0084B6;
}
#item3 {
  flex: 0 1 20%;  
  background-color: #008CC1;
}